[submodule "Shape-completion"]
	path = Shape-completion
	url = git@github.com:UM-ARM-Lab/Shape-completion.git
[submodule "CudaSift"]
	path = CudaSift
	url = git@github.com:svenevs/CudaSift.git
[submodule "COB"]
	path = COB
	url = git@github.com:jinlinyi/COB.git
